In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
data = pd.read_csv('Crash_Reporting_-_Incidents_Data.csv')

/var/folders/z3/l2fngtm57qb349dkh5432_xw0000gn/T/ipykernel_80132/1077967570.py:1: DtypeWarning: Columns (9,16) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('Crash_Reporting_-_Incidents_Data.csv')

In [3]:
data.head
data.shape
data.columns

Index(['Report Number', 'Local Case Number', 'Agency Name', 'ACRS Report Type',
       'Crash Date/Time', 'Hit/Run', 'Route Type', 'Lane Direction',
       'Lane Type', 'Number of Lanes', 'Direction', 'Distance',
       'Distance Unit', 'Road Grade', 'Road Name', 'Cross-Street Name',
       'Off-Road Description', 'Municipality', 'Related Non-Motorist',
       'At Fault', 'Collision Type', 'Weather', 'Surface Condition', 'Light',
       'Traffic Control', 'Driver Substance Abuse',
       'Non-Motorist Substance Abuse', 'First Harmful Event',
       'Second Harmful Event', 'Junction', 'Intersection Type',
       'Road Alignment', 'Road Condition', 'Road Division', 'Latitude',
       'Longitude', 'Location'],
      dtype='object')

In [4]:
colonnes = ['Crash Date/Time', 'Hit/Run', 'Route Type', 'Lane Direction',
    'Lane Type', 'Number of Lanes', 'Weather', 'Surface Condition', 'Light',
    'Traffic Control', 'Driver Substance Abuse',
    'Non-Motorist Substance Abuse', 'Collision Type', 'Related Non-Motorist',
    'At Fault', 'First Harmful Event', 'Second Harmful Event', 'Latitude',
    'Longitude', 'Location']
df = data[colonnes]

In [5]:
df.shape
df.columns

Index(['Crash Date/Time', 'Hit/Run', 'Route Type', 'Lane Direction',
       'Lane Type', 'Number of Lanes', 'Weather', 'Surface Condition', 'Light',
       'Traffic Control', 'Driver Substance Abuse',
       'Non-Motorist Substance Abuse', 'Collision Type',
       'Related Non-Motorist', 'At Fault', 'First Harmful Event',
       'Second Harmful Event', 'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [7]:
df.head
df.describe()

            Latitude      Longitude
count  101276.000000  101276.000000
mean       39.084404     -77.114360
std         0.072776       0.099519
min        37.720000     -79.486000
25%        39.025901     -77.191810
50%        39.076073     -77.107618
75%        39.140797     -77.040599
max        39.990414     -75.527708

In [8]:
df = df.dropna(axis=0)

In [9]:
df.shape

(91, 20)

In [14]:
df.describe()
df.columns

Index(['Crash Date/Time', 'Hit/Run', 'Route Type', 'Lane Direction',
       'Lane Type', 'Number of Lanes', 'Weather', 'Surface Condition', 'Light',
       'Traffic Control', 'Driver Substance Abuse',
       'Non-Motorist Substance Abuse', 'Collision Type',
       'Related Non-Motorist', 'At Fault', 'First Harmful Event',
       'Second Harmful Event', 'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [5]:
import matplotlib.pyplot as plt

df1 = df1.['Crash Date/time']
# Extract the year from the 'Crash Date/Time' column
df['Year'] = pd.to_datetime(df1).dt.year

# Group the data by year and count the number of accidents
accidents_per_year = df.groupby('Year').size()

# Plot the graph
accidents_per_year.plot(kind='bar', figsize=(10, 6))
plt.xlabel('Year')
plt.ylabel('Number of Accidents')
plt.title('Accidents per Year')
plt.show()

NameError: name 'df' is not defined